<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Con:</strong>
  <%= @post.con %>
</p>

<p>
  <strong>Cat:</strong>
  <%= @post.cat.name %>
</p>

<%= link_to 'Edit', edit_admin_post_path(@post) %> |
<%= link_to 'Back', admin_posts_path %>

<p>
  <%= link_to 'New comment', new_admin_comment_path%>
</p>

<p>
  <strong>Comments:</strong>
<table>
  <tbody>
  <% Comment.find_by_post_id(@post.id) do |comment| %>
      <tr>
        <td><%= comment.con %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</p>
