<!DOCTYPE html>
<html>
<head>
  <title>Blob</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<br>
<%= link_to "Sign in", new_session_path(:user) %>
<%= link_to "Sign up", new_registration_path(:user) %>
<br>
<%= yield %>

</body>
</html>
